{% load static %}
<html>
<head>
</head>
<body class="justify-content-center">

    <!-- <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->

    <!-- Vendor CSS Files -->

    
    <link href={% static "assets/vendor/bootstrap/css/bootstrap.min.css" %}  rel="stylesheet">
    <link href={% static "assets/vendor/bootstrap-icons/bootstrap-icons.css" %} rel="stylesheet">
    <!-- <link href={% static "assets/vendor/boxicons/css/boxicons.min.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/quill/quill.snow.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/quill/quill.bubble.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/remixicon/remixicon.css" %} rel="stylesheet">
    <link href={% static "assets/vendor/simple-datatables/style.css" %} rel="stylesheet"> -->

    <!-- Template Main CSS File -->
    <!-- <link href={% static "assets/css/style.css" %} rel="stylesheet"> -->
    <div class="container-fluid d-flex justify-content-center mt-3 mb-3  P-3">
        <div class="row h-500 justify-content-center border shadow-lg p-3">
        <div class="col-md-6 bg-info P-3 align-middle ">
           
        </div>
    <!-- </div> -->
    
<div class="col-md-6">

</div>

</body>
</html>
