
  /* table th{
    background-color: darkslateblue;
    border-color: #FF4742;
    border-width: 2px;
    text-align: justify;
  } */

  tr:hover td {
  background: rgb(112, 91, 153);
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
#modal-title{
  color: #adacac;
  background-color: rgb(18, 6, 43);;
}

#modal_course{
  display: none;
}
/* .row-div{
  background-color: #22262e;
  background-image: linear-gradient(to right,
  transparent 12px,
  rgba(41,237,133,.6) 12px,
  rgba(41,237,133,.6) 235px,
  transparent 235px);
  
} */
.modal-header{
  font-family: cursive Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font: x-large;
  background-color: rgb(112, 91, 153);
  color: whitesmoke;
}
  .modal-label{
    font-family: cursive Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12px;
    font-weight: bold;
    /* color:   rgb(159, 162, 167);   */
    color: rgb(22, 22, 105);
  }

  div{
    word-break: break-all;
  }
  div b{
    font-family: cursive Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 14px;
    font-weight: 990;
    color: rgb(243, 250, 246); 
    background-color: rgb(112, 91, 153);
  }

  
  i {
    size: 10px 5px;
  }
   .index-main{
    background-color: black;
  }
#index-main{
    height: 10vh;
}
  
  #index-main ul li {
    padding: 5px;
    margin: 10px;
    border-width: 0px;
    list-style: none;
    list-style-position: inside;
    /* border-color: #b872b2; */
    /* background-color: rgb(238, 223, 197); */
    border-radius: 30px;
    /* background-color: wheat; */
  }

  .cnt-detail{
    height: 100vh;
    background-color: custom-4;
    margin-top: 5px;
  }
  /* #index-main ul li:hover {
    background-color: lightsalmon;
  } */
  /* #index-main ul li :hover {
 
    background-color: black;
  } */
/* CSS */
.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  width: 160px;
  /* border-radius: 16px; */
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: large;
  font-weight: 1000;
  line-height: 13px;
  min-height: 30px;
  outline: 0;
  padding: 5px 5px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: rgb(223, 147, 147);
  background-position: 0 0;
  color: #FF4742;
  
 
}

  
.button-24:active {
  opacity: .5;
}

  .opt {
  transform:
    perspective(600px)
    translate3d(0px, 0px, -250px)
    rotateX(15deg)
    scale(0.9, 0.9);
  border-radius: 20px;
  border: 3px solid #e6e6e6;
  box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
  transition: 0.4s ease-in-out transform;

  &:hover {
    transform: translate3d(0px, 0px, -250px);
  }
}
    /* transform:
    perspective(900px)
    rotateX(60deg)
    scale(0.7);
  box-shadow: 0px 20px 100px #555;
  transition:0.5s ease all;

  &:hover {
    transform:
      rotate(0deg)
      scale(1)
      translateY(10px);
  } */
  .pushable {
    background:  hsl(213, 15%, 86%);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    min-width: 150px;
    transition: transform 4s;
  }
  .front {
    display: block;
    padding: 5px 20px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 1.5rem;
    background: hsl(30, 8%, 91%);
    color: rgb(69, 78, 116);
    transform: translateY(-8px);
  }

  .pushable:active .front {
    transform: translateY(-2px);
    background: hsl(216, 20%, 95%);
    color: rgb(21, 50, 180);
    
  }
  .search{
    background-color: hsl(0, 78%, 82%);
    color :hsl(216, 71%, 52%)
  }
#content-div{
  border: 1px inset;
  padding: 10px;
  box-shadow: 5px 10px 8px 10px #adacac;

}





/* CSS */
.button-30 {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  /* font-family: "JetBrains Mono",monospace; */
  height: 30px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}